version: "3.9"

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  web-app:
    build: ./web-app
    container_name: web-app
    ports:
      - "5001:5001"
    environment:
      MONGO_URI: mongodb://mongodb:27017
      DB_NAME: harrypotter_spells
    depends_on:
      - mongodb

volumes:
  mongodb_data:
