[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
flask = "*"
flask-login = "*"
pymongo = "*"
python-dotenv = "*"
dnspython = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"
exceptiongroup = "*"
pytest-cov = "*"
