[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
requests = "*"
flask = "*"
pymongo = "*"
python-dotenv = "*"
dnspython = "*"
azure-cognitiveservices-speech = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"
flask-login = "*"

[dev-packages]
pytest-flask = "*"
exceptiongroup = "*"
pytest = "*"
pytest-cov = "*"
