name: ml-tests

on:
  push:
  pull_request:

jobs:
  test-ml-service:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: machine_learning_client

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies (pipenv)
        run: |
          pip install --upgrade pip
          pip install pipenv
          pipenv install --dev
      - name: Run Machine Learning Client Tests
        run: pipenv run pytest --cov=. --cov-fail-under=80


      - name: Run tests
        run: |
          pytest --cov=. --cov-fail-under=80
