name: ML-tests CI

on:
  push:
  pull_request:

jobs:
  test-ml-service:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: machine_learning_client

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libsndfile1 portaudio19-dev

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Mock system modules for CI
        run: |
          echo "import sys; from unittest.mock import MagicMock; sys.modules['audioop'] = MagicMock()" > conftest.py

      - name: Run Machine Learning Client Tests
        run: pytest --cov=. --cov-fail-under=80